HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Environment Variables ###
.env
.env.local
.env.*.local

### Log Files ###
*.log

### Debug Files ###
*.trace
*.trace.gz
*.trace.zip
*.trace.tar
*.trace.tar.gz
*.trace.tar.zip
*.trace.tar.gz.zip
*.trace.tar.gz.zip.gz
*.trace.tar.gz.zip.gz.gz
*.trace.tar.gz.zip.gz.gz.gz
uploads/
!uploads/.gitkeep